---
title: false
styles: true
---

@import "alembic";

.ddd-typeset li a {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #05bf85 50%);
    background-position: 0 93%;
    background-repeat: repeat-x;
    background-size: 100% 0.15rem;

}
.ddd-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto; 
}

.ddd-heuristic h1 {
    line-height: 1rem;
    font-size: 2.3333333333rem;
    font-weight: bold;
    margin-bottom: 0.37499rem;
    padding-top: 0.62501rem; 
}

.ddd-heuristic-meta {
    line-height: 1rem;
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 0.37499rem;
    padding-top: 0.62501rem; 
    color: #969696;
}

.ddd-content h1{
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.37499rem;
    padding-top: 0.62501rem; 
}
.ddd-content h2 {
    line-height: 3rem;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.37499rem;
    padding-top: 0.62501rem; 
}


