---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <div class="content">

    <article class="article  article--page  typeset">

      {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
      <h1>{{ collectiondata.title }}</h1>

      {{ content }}
    </article>

    <section class="section  ddd-typeset">
      <ul class="list  list--posts">
        {% for page in site.cognitive-heuristics %}
        <li class="item  item--post">
          <article class="article  article--post">
            <h5><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h5>
          </article>
        </li>
        {% endfor %}
      </ul>
    </section>

  </div>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}