---
layout: single
---

{% if page.authors.first %}
    <strong><i class="fas fa-fw fa-users" aria-hidden="true"></i> Authors:</strong>
    {% assign last_author = page.authors | last %}
    {% for author in page.authors %}
        {{ author }}
        {%- if author != last_author -%}
            ,
        {%- endif -%}
    {% endfor %}
{% else %}
    <strong><i class="fas fa-fw fa-users" aria-hidden="true"></i> Author:</strong>
    {{page.authors}}
{% endif %}

{% if page.submitter %}</br><strong><i class="fas fa-user" aria-hidden="true"></i> Submitter:</strong> {{page.submitter}} {% endif %}
</br>
<i class="fas fa-tags" aria-hidden="true"></i> 
{% for tag in page.tags %}
    {{ tag }}
{% endfor %}

</p>

{{ content }}